EXTERNAL_API=https://apiv2.getofficeapp.com/api/?action=integrations/dailymenu/zones/X-OFFICEAPP_OFFICE/menus/  # eg. X-OFFICEAPP_OFFICE = 123
X_OFFICEAPP_TOKEN=HEX_DECIMAL_72_CHARS
X_OFFICEAPP_DEVICE=HEX_DECIMAL_36_CHARS # eg. AAAAAAAA-BBBB-CCCC-DDDD-000011112222
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR_SECRET_TOKEN_HERE
LUNSJ_SECRET=pw
PORT=5000